name: CI
on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        go: [1.14]
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}

      - name: Cache Go Modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod # $GOPATH doesn't seem to be set by actions/setup-go
          key: ${{ matrix.os }}-${{ matrix.go }}-build-${{ hashFiles('**/go.sum') }}
          restore-keys: |

      - name: Run Tests
        run: go test -v ./...
